.banner {
  height: auto;
  border-bottom: 1px solid $light-gray;
  padding: 1rem;

  @include breakpoint(medium) {
    padding: 1rem 2rem;
  }

  @include breakpoint(large) {
    padding: 1rem 4rem;
  }

  .container {
    max-width: 1315px;
    margin-right: auto;
    margin-left: auto;
  }
}

.banner .nav {
  @extend .menu;
}

.nav-primary {
  ul {
    font-family: $font-sans;
    font-size: 0.8rem;
    font-weight: $global-weight-bold;
    text-transform: uppercase;

    a {
      color: $black;

      &:hover,
      &:active,
      &:focus {
        color: $primary;
      }
    }
  }
}

.no-js {
  @include breakpoint(medium down) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(large) {
    .title-bar {
      display: none;
    }
  }
}

[data-sticky] {
  width: 100%;
}

.sticky-container {
  z-index: 5;
}
