.single-header {
  .updated,
  .byline {
    color: $dark-gray;

    a {
      color: $dark-gray;
      text-decoration: underline;
    }
  }
}

.entry-image {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  margin-bottom: 1rem;

  @include breakpoint(medium) {
    padding-bottom: 50%;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.entry-excerpt,
.entry-content,
.entry-download {
  margin-bottom: 1rem;
  border-bottom: 1px solid $medium-gray;
}

.entry-excerpt {
  margin-top: 1rem;
  border-color: $light-gray;
  padding-bottom: 1rem;

  p {
    font-weight: 600;
  }

  p::first-letter {
    float: left;
    font-size: 2.9rem;
    font-weight: 300;
    line-height: 2.5rem;
    padding-top: 0.3rem;
    padding-right: 0.2rem;
  }
}
