.sidebar-posts-menu {
  ul li {
    padding: 0.5rem 0;
  }

  ul li a {
    color: $black;
    padding-left: 0;
  }

  li + li {
    border-top: 1px solid $light-gray;
  }
}

.sidebar-articles,
.sidebar-newsletters,
.sidebar-events,
.sidebar-jacks-back {
  section {
    border-top: 1px solid $medium-gray;
    padding-top: 1rem;
  }
}
