.wrap {
  max-width: 1440px;
  padding: 4rem 1rem 2rem 1rem;

  @include breakpoint(medium) {
    padding: 4rem 2rem 2rem 2rem;
  }

  @include breakpoint(large) {
    padding: 4rem 4rem 2rem 4rem;
  }
}

.main {
  @include breakpoint(large) {
    border-right: 1px solid $light-gray;
    padding-right: 2rem;
  }
}

.sidebar {
  border-top: 1px solid $light-gray;
  padding-top: 1rem;

  @include breakpoint(large) {
    padding-top: 0;
    padding-left: 2rem;
    border-top: none;
  }
}
