// Global
a {
  transition: 0.3s;
}

h4 {
  font-family: $font-sans;
  font-weight: 300;
  text-transform: uppercase;
  color: $dark-gray;
}

hr {
  &.is-style-wide {
    border-color: $medium-gray;
  }

  .wp-block-separator.is-style-dots::before {
    color: $medium-gray;
  }
}

.wrap {
  max-width: 1440px;
  padding: 3rem 1rem 2rem 1rem;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint(medium) {
    padding: 3rem 2rem 2rem 2rem;
  }

  @include breakpoint(large) {
    padding: 3rem 4rem 2rem 4rem;
  }
}

.main {
  @include breakpoint(large) {
    border-right: 1px solid $medium-gray;
    padding-right: 2rem;
  }
}

.sidebar {
  border-top: 1px solid $medium-gray;
  padding-top: 1rem;

  @include breakpoint(large) {
    padding-top: 0;
    padding-left: 2rem;
    border-top: none;
  }
}

.noresults.alert {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.noresults-search label {
  width: 100%;
}

// Front Page
.homeintro {
  margin-bottom: 2rem;
  border-bottom: 1px solid $medium-gray;
  padding-right: none;
  padding-left: none;
  padding-bottom: 2rem;

  @include breakpoint(large) {
    padding-bottom: 0.5rem;
  }

  .intro-txt {
    @include breakpoint(large) {
      border-right: 1px solid $light-gray;
      padding-right: 2rem;
    }
  }

  .intro-img {
    @include breakpoint(large) {
      padding-left: 2rem;
    }
  }
}
