// ## GLOBAL
// Anchors & Buttons
a {
  color: $black;
  transition: 0.3s;
}

.button {
  border: 1px solid $light-gray;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
}

.readmore {
  color: $primary-color;
  font-family: $font-sans;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

// Typography
h4 {
  font-family: $font-sans;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark-gray;
}

hr {
  &.is-style-wide {
    border-color: $medium-gray;
  }

  .wp-block-separator.is-style-dots::before {
    color: $medium-gray;
  }
}

// Containers
.wrap {
  max-width: 1440px;
  padding: 3rem 1rem 2rem 1rem;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint(medium) {
    padding: 3rem 2rem 2rem 2rem;
  }

  @include breakpoint(large) {
    padding: 3rem 4rem 2rem 4rem;
  }
}

.main {
  @include breakpoint(large) {
    border-right: 1px solid $medium-gray;
    padding-right: 2rem;
  }
}

.sidebar {
  border-top: 1px solid $medium-gray;
  padding-top: 1rem;

  @include breakpoint(large) {
    padding-top: 0;
    padding-left: 2rem;
    border-top: none;
  }
}

.content-section {
  padding-top: 1rem;

  + .content-section {
    margin-top: 1rem;
    border-top: 1px solid $medium-gray;
    padding-top: 2rem;
  }

  .button {
    margin-top: 1rem;
  }
}

.noresults.alert {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.noresults-search label {
  width: 100%;
}

// FRONT PAGE
// Intro
.index-main {
  p {
    font-size: 0.9rem;
  }
}

.home-intro {
  margin-bottom: 2rem;
  border-bottom: 1px solid $medium-gray;
  padding-right: none;
  padding-left: none;
  padding-bottom: 2rem;

  .intro-txt {
    @include breakpoint(large) {
      border-right: 1px solid $light-gray;
      padding-right: 2rem;
    }
  }

  .intro-img {
    @include breakpoint(large) {
      padding-left: 2rem;
    }
  }
}

// Front Page: Events
.home-events {
  table,
  th,
  td {
    background-color: $white;
    font-size: 0.9rem;
  }

  th,
  td {
    border-top: 1px solid $light-gray;
    border-right: none;
    border-bottom: 1px solid $light-gray;
    border-left: none;
    padding: 1rem;
  }

  table {
    border: 1px solid $medium-gray;
  }

  strong {
    font-weight: 700;
  }

  .events-wrapper {
    margin-top: 1rem;
  }
}

// Front Page: Articles, Projects, Publications
.home-articles,
.home-projects {
  article {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

// Publications
.home-publications .entry-image {
  padding-bottom: 125%;
}

// Front Page: Readings
.home-readings {
  .home-dictionary {
    margin-bottom: 2rem;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 1rem;
  }

  .home-bibliography,
  .home-links {
    padding-bottom: 1rem;
  }

  .home-bibliography {
    margin-bottom: 1rem;
    border-bottom: 1px solid $light-gray;

    @include breakpoint(medium) {
      margin-bottom: 0;
      border-right: 1px solid $light-gray;
      border-bottom: none;
      padding-right: 1rem;
    }
  }

  .home-links {
    @include breakpoint(medium) {
      padding-left: 1rem;
    }
  }
}

// Literature Page
.lit-articles,
.lit-newsletters,
.lit-jacks-back {
  article {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

// Consecutive element styling

// Home Page: Articles
// Lit Page: Articles, Newsletters, Jack's Back
.home-articles,
.home-projects,
.lit-articles,
.lit-newsletters,
.lit-jacks-back {
  article + article {
    border-top: 1px solid $light-gray;
  }
}

.home-articles,
.lit-articles,
.lit-newsletters,
.lit-jacks-back {
  @include breakpoint(large) {
    article + article {
      border-top: none;
      border-left: 1px solid $light-gray;
      padding-left: 1rem;
    }
  }
}

.home-publications {
  article + article {
    border-left: 1px solid $light-gray;
    padding-left: 1rem;
  }

  article:first-of-type {
    padding-right: 1rem;
  }

  @include breakpoint(large) {
    article + article {
      border-left: none;
      border-top: 1px solid $light-gray;
      padding-left: 0;
      padding-top: 1rem;
    }

    article:first-of-type {
      padding-right: 0;
      padding-bottom: 1rem;
    }
  }
}

// First of type styling
.home-articles {
  @include breakpoint(large) {
    article:first-of-type {
      padding-right: 1rem;
    }
  }
}
