// Colour
//--------------------
$foundation-palette: (
  primary: #8d2020,
  secondary: #1866ff,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

$primary: #8d2020;
$white: #fefefe;
$black: #1f1f1f;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #808080;

// Typography
//--------------------
$global-weight-normal: 300;
$global-weight-bold: 500;
$font-serif: "Martel", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-sans: "Montserrat", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

$body-font-family: $font-serif;

$header-font-weight: 700;

$header-styles: (
  small: (
    h1: ("font-size": 24),
    h2: ("font-size": 18),
    h3: ("font-size": 16),
    h4: ("font-size": 12),
    h5: ("font-size": 11),
    h6: ("font-size": 10),
  ),
  medium: (
    h1: ("font-size": 28),
    h2: ("font-size": 22),
    h3: ("font-size": 20),
    h4: ("font-size": 15),
    h5: ("font-size": 14),
    h6: ("font-size": 13),
  ),
);

// Buttons
//--------------------
$button-font-family: $font-sans;
$button-background: $white;
$button-background-hover: $light-gray;
$button-color: $black;
$button-radius: 2px;

// Forms
//--------------------
$input-border: 1px solid $light-gray;

// Forms
//--------------------
$titlebar-background: $white;
$titlebar-color: $black;
$titlebar-icon-color: $black;
